In [4]:
import pandas as pd
import numpy as np
import math
from datetime import datetime
import csv
import time

In [6]:
dataset = pd.read_csv('data4.csv', delimiter=";")
dataset.date = dataset.date+ ' ' +dataset.time
dataset.date= pd.to_datetime(dataset.date, infer_datetime_format=True)

C:\Users\silva\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
test=[]
for i in dataset.date:
    print(dataset["date"][0:19])

In [7]:
dataset.drop('time', axis=1, inplace=True)

In [8]:
nset  = dataset[(dataset["moteid"] <=2)]
nset

,date,epoch,moteid,temperature,humidity,light,voltage,Unnamed: 8
0,2004-03-31 03:38:15.757551,2,1,122.153,-391.901,11.04,203.397,NaN
1,2004-02-28 00:59:16.027850,3,1,199.884,370.933,45.08,269.964,NaN
2,2004-02-28 01:03:16.333930,11,1,193.024,384.629,45.08,268.742,NaN
3,2004-02-28 01:06:16.013453,17,1,191.652,388.039,45.08,268.742,NaN
4,2004-02-28 01:06:46.778088,18,1,19.175,388.379,45.08,269.964,NaN
...,...,...,...,...,...,...,...,...
89957,2004-03-21 19:03:31.489586,65530,2,214.388,467.542,12.88,233.827,NaN
89958,2004-03-21 19:03:58.335546,65531,2,214.388,466.232,12.88,233.827,NaN
89959,2004-03-21 19:04:38.153783,65532,2,21.429,468.524,11.04,233.827,NaN
89960,2004-03-21 19:04:55.907065,65533,2,21.429,465.577,11.04,233.827,NaN
89961,2004-03-21 19:05:56.020753,65535,2,214.192,467.542,11.04,233.827,NaN

In [12]:
MyLIst = []
for i in np.arange((nset.shape[0]-1)):
    if(nset.iloc[i+1, 2] == nset.iloc[i, 2]):
        dalay = (nset.iloc[i+1, 0] - nset.iloc[i, 0]).total_seconds()
        temperature = nset.iloc[i+1, 3] - nset.iloc[i, 3]
        label = 0
        if(temperature>=3):
            label=1
        MyLIst.append([time.mktime(nset.iloc[i, 0].timetuple()), nset.iloc[i, 0], dalay, nset.iloc[i,2], nset.iloc[i, 3], label])

In [23]:
MyLIst = []
for i in np.arange((nset.shape[0]-1)):
        dalay = (nset.iloc[i+1, 0] - nset.iloc[i, 0]).total_seconds()
        delta_temperature = abs(nset.iloc[i+1, 3] - nset.iloc[i, 3])
        sensor_id = nset.iloc[i,2]
        hour = nset.iloc[i, 0].hour
        minute = nset.iloc[i, 0].minute
        second = nset.iloc[i, 0].second
        day = nset.iloc[i, 0].day
        month = nset.iloc[i, 0].month
        label = 0
        if(delta_temperature>=3):
            label=1
        MyLIst.append([nset.iloc[i, 0], hour,minute,second,day,month, dalay, sensor_id, nset.iloc[i, 3], label])

In [2]:
# Imports
import numpy as np
from skmultiflow.drift_detection import PageHinkley
ph = PageHinkley()
# Simulating a data stream as a normal distribution of 1's and 0's
data_stream = np.random.randint(2, size=2000)
# Changing the data concept from index 999 to 2000
for i in range(999, 2000):
    data_stream[i] = np.random.randint(4, high=8)
# Adding stream elements to the PageHinkley drift detector and verifying if drift occurred
for i in range(2000):
    ph.add_element(data_stream[i])
    if ph.detected_change():
        print('Change has been detected in data: ' + str(data_stream[i]) + ' - of index: ' + str(i))

Change has been detected in data: 6 - of index: 1006

In [24]:
cols = ['date', 'hour','minut','second','day','month', 'delay', 'sensor_id', 'temperature','label']
df_ML = pd.DataFrame(MyLIst, columns = cols)
df_ML.columns

Index(['date', 'hour', 'minut', 'second', 'day', 'month', 'delay', 'sensor_id',
       'temperature', 'label'],
      dtype='object')

In [25]:
f = open('sdn_ml.csv','w')
try:
    writer = csv.writer(f)
    writer.writerow(df_ML.columns)
    for i in np.arange(int(df_ML.shape[0])):
        writer.writerow(df_ML.iloc[i,])
finally:
    f.close()